//menu button class
.menu-button {
  position: absolute;
  z-index: 6;
  right: 1em;
  top: 1em;
  cursor: pointer;
  @include easeTransition;

  .button-line {
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    background: set-text-color($primary-color);
    @include easeTransition;
  }

  //animation when menu is clicked, to turn into an x sign

  &.close {
    transform: rotate(180);
    @include easeTransition;

    .button-line {
      //line 1 is going to rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(0.2em, 0.2em);
      }
      //line 2 (middle) will hide
      &:nth-child(2) {
        @include opacity(0);
        visibility: none;
      }
      //line 3 will rotate the other way, to complete the x-symbol
      &:nth-child(3) {
        transform: rotate(-45deg) translate(0.42em, -0.48em);
      }
    }
  }
}

//menu content when opened
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  //opacity: $menu-opacity;
  visibility: hidden;

  &.show {
    visibility: visible;
    @include opacity(0.95);
  }

  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  //navigation side of the menu
  &-nav {
    margin: 0;
    padding: 0;
    background: darken($primary-color, 5);
    list-style: none;
    transform: translate3d(100%, 0, 0);
    @include easeTransition;

    &.show {
      //slidey in (with other transform) from the right
      transform: translate3d(0, 0, 0);
    }
  }

  //portrait/branding side of the menu
  &-branding {
    background: lighten($primary-color, 2);
    transform: translate3d(-100%, 0, 0);
    @include easeTransition;

    &.show {
      //slidey widey (with other transform) from the left
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 200px;
      height: 200px;
      background: url(../img/icon.png);
      background-size: 200px;
      border: solid 0.1em $secondary-color;
      border-radius: 100px;
      cursor: pointer;
    }
  }
  .nav-item {
    //initial position 100% from the bottom
    transform: translate3d(0, 0, 0);
    @include easeTransition;

    &.show {
      transform: translate3d(0, 0, 0);
      @include easeTransition;
      //move to normal position (bottom to top translation)
    }

    &.current > a {
      color: $secondary-color;
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 300;
    color: set-text-color($primary-color);
    text-decoration: none;
    @include easeTransition;

    &:hover {
      color: $secondary-color;
      @include easeTransition;
    }
  }
}

//Delay each nav item animation by 0.3 seconds
@for $x from 1 through 5 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.3s;
  }
}
