@import 'config';

* {
  box-sizing: border-box;

  //obligatory internet explorer crossbrowser support. touchscreen edition
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: arial, verdana, sans-serif;
  font-size: 1.1em;
  line-height: 2em;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 425;
  margin-bottom: 0.3em;
  margin-top: 0.2em;

  &.big-heading {
    font-size: 2.5em;
    //font-family: aquatico, sans-serif; {insert aquatico regular here}
    font-family: Arial, sans-serif;
  }

  &.small-heading {
    margin-bottom: 0.5em;
    padding: 0.25em;
    //background: rgba(lighten($primary-color, 2), 0.62);
  }
}

h2 {
  margin-top: 1em;
  margin-bottom: 1.2em;
}
.secondary {
  color: $secondary-color;
}

a {
  text-decoration: none;
  color: set-text-color($primary-color);
}

header {
  position: fixed;
  z-index: 5;
  width: 100%;
}

main {
  padding: 4rem;
  height: 100%;

  #home {
    position: relative;
  }
  #bg {
    margin: -4rem;
    height: 100vh;
    //max-height: calc(100vh - 4rem);
    width: 100vw;
    //overflow: hidden;
    //position: relative;
    z-index: -2;
    overflow: hidden;
    //justify-content: center;

    img {
      //position: absolute;
      //   height: 140vh;
      width: 140vw;
      margin: auto;
      //left: -15vw;
      //top: -5%;
      -webkit-transform: translateX(-20vw);
      -ms-transform: translateX(-20vw);
      transform: translateX(-20vw);
      /*&.logoicon {
        width: 180px;
        position: absolute;
        top: 4em;
        left: calc(60vw - 90px);
      }*/
    }
  }

  .homeTitle {
    position: absolute;
    top: 50%;
    //    margin-left: 2rem;
    z-index: 2;
    justify-content: center;

    .homeinfo {
      position: relative;
      padding: 4px;

      &:after {
        content: '';
        position: absolute;
        top: -7px;
        left: -5px;
        width: 100%;
        height: 100%;
        padding: 6px;
        margin: auto;
        //background: rgba($primary-color, $background-opacity);
        @include gradient(
          darken($secondary-color, 25),
          darken($tertiary-color, 25),
          vertical
        );
        //border: darken($primary-color, 20) 4px solid;
        @include opacity($background-opacity);
        z-index: -1;
      }
    }
    h1 {
      display: inline-block;
      margin-top: 0.2em;
      margin-bottom: 0.5em;
      &.big-heading {
        margin-bottom: 0;
      }
    }

    h2 {
      margin-top: 0;
      display: block;
    }
    small {
      margin-bottom: 20px;
      display: inline-block;
    }
  }

  &#about,
  &#services,
  &#portfolio,
  &#Contact {
    min-height: calc(100vh - 110px);
  }

  .icons {
    margin-top: 0.8rem;
    font-size: 0.8em;

    a {
      padding: 0.3em;

      &:hover,
      &:focus,
      &:active {
        color: $secondary-color;
        //-webkit-text-stroke: ;
        @include easeTransition;
      }
    }
  }

  &#home {
    overflow: hidden;
  }
}

.about-info {
  display: grid;
  grid-gap: 1.5em;
  grid-template-areas:
    'bioimage bio'
    'job1 job2';
  grid-template-columns: 1fr 1fr;

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.3em;
  }

  .job {
    background: lighten($primary-color, 2);
    padding: 0.5em;
    border-top: $secondary-color 5px solid;
    border-bottom: darken($secondary-color, 5) 2px solid;
    margin-bottom: 1em;

    &.job-1 {
      grid-area: job1;
    }

    &.job-2 {
      grid-area: job2;
    }

    .jobtitle {
      border-bottom: darken($secondary-color, 12) 3px solid;
      line-height: 2em;
      text-align: center;
    }

    p {
      padding: 0.8em;
    }
  }
}

.contact-info {
  h3 {
    font-size: 1.5em;
    color: $secondary-color;
    text-align: center;
  }

  .contact-box {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    margin-top: 0.8em;

    /*&.firstboxes {
      justify-content: center;
    }*/

    div {
      padding: 0.4em;
      border: $secondary-color 2px solid;
      line-height: 1.5;
      margin-bottom: 1.2em;
      width: 400px;
      text-align: center;

      &:hover,
      &:focus {
        background: $secondary-color;
        padding: 0.5em;
        margin-bottom: 1em;
        color: set-text-color($secondary-color);

        @include easeTransition;
      }
    }
  }
}

#portfolio {
  .organize-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    .filter-button {
      text-align: center;
      padding: 0.6em;
      background: darken($secondary-color, 20);
      color: set-text-color(darken($secondary-color, 20));
      border: none;
      display: inline-block;
      text-decoration: none;
      flex: calc(33.3% - 8px);
      font-size: 1em;
      cursor: pointer;

      &:hover,
      &:focus {
        background: darken($secondary-color, 13);
        @include easeTransition;
      }

      &:active,
      &.active {
        background: darken($secondary-color, 25);
        @include easeTransition;
      }
    }
  }

  .my-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .portfolio-image {
      padding: 0.2em;
      margin: 0.2em;
      margin-top: 0.5em;
      background: rgba(lighten($primary-color, 10), 0.62);
      border: rgba(lighten($primary-color, 10), 0.8) 1px solid;
      border-bottom: $secondary-color 2px solid;

      /*
      &:before {
        content: '';
        width: inherit;
        height: inherit;
        background: set-text-color($primary-color);
        border: set-text-color($primary-color) 1px solid;
        @include opacity(80);
        z-index: -1;
      }*/

      h3 {
        font-size: 1.2em;
        color: $tertiary-color;
        text-align: center;
      }

      .imagecontainer {
        position: relative;
        max-width: 250px;
        max-height: 250px;
        img {
          max-width: 250px;
          margin: 4px;
          border: transparent 2px solid;
          padding: 4px;
        }
        .view {
          line-height: 1;
          position: absolute;
          top: calc(50% - 20px);
          left: calc(50% - 20px);
          border-radius: 50%;
          z-index: 24;
          font-size: 1.3em;
          font-weight: 200;
          background: rgba(lighten($primary-color, 2), 0.6);
          padding: 10px;
          //display: block;
          display: none;
          opacity: opacity(0);
          cursor: pointer;
          @include easeTransition;
        }

        &:hover .view,
        &:focus .view {
          display: block;
          visibility: visible;
          color: #fff;
          opacity: opacity(1);
          @include easeTransition;
        }

        &:hover img,
        &:focus img {
          border: set-text-color($primary-color) 2px solid;
          max-width: 258px;
          margin: 0;
          padding: 0;
          @include easeTransition;
        }
      }
      /*

      &.hide {
        display: none;
        visibility: none;
        @include easeTransition;
        @include opacity(0);
      }

      &.show{
        display: inline-block;
        visibility: visible;
        @include easeTransition;
      }
      */

      .work-button {
        padding: 10px;
        margin-bottom: 3px;
        margin-top: 3px;
        text-align: center;
        background: darken($tertiary-color, 5);
        color: set-text-color($tertiary-color);
        border: darken($tertiary-color, 5) 2px solid;
        text-decoration: none;
        width: 258px;
        display: block;
        font-size: 1em;
        cursor: pointer;

        a {
          color: set-text-color($tertiary-color);
        }

        &:hover,
        &:focus {
          background-color: lighten($primary-color, 2);
          color: set-text-color($primary-color);
          border: set-text-color($primary-color) 1px solid;
          padding: 12px;
          margin-bottom: 1px;
          margin-top: 1px;
          @include easeTransition;

          a {
            color: set-text-color($primary-color);
          }
        }

        &.unused {
          background: #999;
          color: set-text-color(#999);
          text-decoration: line-through;
          border: #999 2px solid;

          &:hover,
          &:focus {
            background: #666;
            color: set-text-color(#666);
            padding: 11px;
            margin-bottom: 1px;
            margin-top: 1px;
          }
        }
      }
    }
  }
}

#services {
  .services-info {
    h2 {
      color: lighten($secondary-color, 15);
      font-size: 1.6em;
      text-align: center;
    }
    h3 {
      font-size: 1.2em;
    }
    p a {
      color: lighten($secondary-color, 8);
      text-decoration: underline;

      &:hover,
      &:focus {
        color: lighten($tertiary-color, 10);
        text-decoration: none;
        @include easeTransition;
      }
    }
    .accordion {
      width: 100%;
      overflow: hidden;
      background: lighten($primary-color, 15);
      color: set-text-color(lighten($primary-color, 15));
      // border: lighten($primary-color, 50) 2px solid;
      align-content: center;
      margin: auto;
      @include easeTransition;

      .active {
        display: block;
        @include easeTransition;
      }

      .accordion-opener {
        background: lighten($primary-color, 5);
        outline: none;
        padding: 15px;
        border: 0;
        width: 100%;
        text-align: left;
        font-size: 1.2em;
        cursor: pointer;
        color: set-text-color(lighten($primary-color, 5));

        &:not(:first-child) {
          border-top: lighten($primary-color, 50) 2px solid;
        }

        &:hover,
        &:focus {
          color: set-text-color(darken($primary-color, 5));
          background: darken($primary-color, 5);
          @include easeTransition;
        }
      }

      .panels {
        background: darken(set-text-color($primary-color), 20);
        display: none;
        border-top: lighten($primary-color, 70) 2px solid;

        p {
          padding: 1em;
          color: lighten(set-text-color(set-text-color($primary-color)), 10);
          background: darken(set-text-color($primary-color), 10);
          font-size: 1.1em;
          overflow: hidden;
          margin-top: 0;
          margin-bottom: 0;
          @include easeTransition;
        }
      }
    }
  }

  #Extras {
    .freebies {
      margin: auto;
      width: 100%;
      justify-content: space-around;

      .freebiesImage {
        margin: 0;
        clear: both;
        width: calc(50% - 3px);
        display: inline-block;
        position: relative;

        img {
          margin: 0;
          width: 100%;
          display: inline-block;
        }
        .view {
          line-height: 1;
          position: absolute;
          top: calc(50% - 50px);
          left: calc(50% - 50px);
          border-radius: 50%;
          z-index: 24;
          font-size: 2em;
          font-weight: 200;
          background: rgba(lighten($primary-color, 2), 0.6);
          padding: 25px;
          //display: block;
          display: none;
          opacity: opacity(0);
          cursor: pointer;
          @include easeTransition;
        }

        &:hover .view,
        &:focus .view {
          display: block;
          visibility: visible;
          color: #fff;
          opacity: opacity(1);
          @include easeTransition;
        }
      }
    }

    .newsletter {
      margin: 25px auto;
      justify-content: center;
      background: $secondary-color;
      color: set-text-color($primary-color);
      padding: 15px;
      font-size: 1.1em;
      outline: none;
      border: 0;
      display: block;
      cursor: pointer;

      &:hover,
      &:focus {
        background: darken($secondary-color, 10);
        padding: 18px;
        margin: 19px auto;
        @include easeTransition;
      }
    }
  }

  .imageGalleryContainer {
    display: flex;
    margin: auto;
    justify-content: center;

    #imageSlideshowContainer {
      width: 360px;
      height: 265px;
      overflow: hidden;
      margin: 0;
      border-top: $secondary-color 2px solid;
      border-bottom: $secondary-color 2px solid;

      .imageSlideshow {
        position: relative;
        left: 0;
        width: (360px * 6);
        margin: 0;

        img {
          float: left;
          margin: 0;
          padding: 0;
          width: 360px;
          height: 265px;
          //        display: inline-block;
        }
      }
    }

    //beside the image slideshow
    .leftarrow,
    .rightarrow {
      background: $secondary-color;
      color: set-text-color($primary-color);
      font-size: 1.1em;
      height: 265px;
      margin: 0;
      padding: 8px;
      padding-top: 115px;
      cursor: pointer;

      &:hover,
      &:active,
      &:focus {
        background: darken($secondary-color, 10);
        @include easeTransition;
      }
    }
    .leftarrow {
      border-radius: 10px 0 0 10px; //top left, top right, bottom-right, bottom-left. clockwise, remember?
      margin-right: 0;
      padding-left: 12px;
    }
    .rightarrow {
      border-radius: 0 10px 10px 0;
      margin-left: 0;
      padding-right: 12px;
    }
  }

  #Testimonials {
    justify-content: center;
    text-align: center;
    width: calc(95vw-2rem);
    margin: auto;
    .witness {
      font-size: 1.4em;
    }

    .testimonialsnippet {
      margin-bottom: 3em;

      blockquote {
        position: relative;
        padding: 2px;
        background: lighten($primary-color, 5);
      }
      blockquote:before,
      blockquote:after {
        font-size: 3.5em;
        line-height: 0.5em;
        color: rgba(set-text-color($primary-color), 0.52);
      }
      blockquote:before {
        content: '\201C';
        position: absolute;
        left: 0;
        top: 4px;
        height: 100%;
        //padding: 5px;
        //border-left: rgba(set-text-color($primary-color), 0.52) 4px solid;
      }
      blockquote:after {
        content: '\201D';
        position: absolute;
        left: 98%;
        top: calc(100%-0.5em);
      }
    }
    img {
      width: 150px;
      border-radius: 50%;
      border: $secondary-color 2px solid;
    }
  }

  #Donate {
  }

  #Giveaway {
    .listedEvents {
      text-align: center;
    }
  }
}

#main-footer {
  text-align: center;
  padding: 1.2em;
  background: darken($primary-color, 12);
  color: set-text-color($primary-color);
  height: 65px;
}

#sub-footer {
  width: 100%;
  text-align: center;
  padding: 0.5em;
  @include gradient($tertiary-color, $secondary-color, horizontal);
  color: set-text-color($tertiary-color);
  height: 45px;
  letter-spacing: 0.4em;

  a:hover,
  a:focus {
    color: darken($secondary-color, 30);
    @include easeTransition;
  }
}

@import 'menu';
@import 'media';
